@model SIGEFINew.Models.Inventarios.IN_PARAM

@{
    /**/

    ViewBag.Title = "Inv. Param.";
}
<style>
    .toast-top-right {
        top: 60px;
        right: 12px;
    }
</style>
@*<style>
        .table-fixed thead,
        .table-fixed tfoot {
            width: 97%;
        }

        .table-fixed tbody {
            height: 230px;
            overflow-y: auto;
            width: 100%;
        }
    </style>*@


@if (@ViewBag.MsgError != null)
{
    <div class="col-md-12">
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
            <h4><i class="icon alert-danger"></i>Mensaje</h4>
            @ViewBag.MsgError
        </div>
    </div>
}
<h4>Parámetros - Inventarios</h4>

<input type="hidden" id="success"
       value="@TempData["success"]" />
<input type="hidden" id="info"
       value="@TempData["info"]" />
<input type="hidden" id="warning"
       value="@TempData["warning"]" />
<input type="hidden" id="error"
       value="@TempData["error"]" />

@*<div class="table-fixed">
        <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Panel header</h4>
            <div class="btn-group pull-right">
                <a href="#" class="btn btn-default btn-sm">## Lock</a>
                <a href="#" class="btn btn-default btn-sm">## Delete</a>
                <a href="#" class="btn btn-default btn-sm">## Move</a>
            </div>
        </div>
        ...
    </div>*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.USER_CREA, new { @Value = ViewBag.UserCrea })
    @Html.HiddenFor(model => model.FECHA_CREA, new { @Value = ViewBag.FechaCrea })
    <div class="form-horizontal">
        <section class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header">
                            <i class="ion ion-clipboard"></i>

                            <h3 class="box-title">Numeración Individual de</h3>
                            <div class="box-body">
                                <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
                                <ul class="todo-list">
                                    <li>
                                        <!-- drag handle -->
                                        <span class="handle">
                                            <i class="fa fa-ellipsis-v"></i>
                                            <i class="fa fa-ellipsis-v"></i>
                                        </span>
                                        <!-- checkbox -->
                                        @*<input type="checkbox" value="">*@
                                        @Html.EditorFor(model => model.NSEP_DEVO)
                                        @Html.ValidationMessageFor(model => model.NSEP_DEVO, "", new { @class = "text-danger" })
                                        <!-- todo text -->
                                        @Html.DisplayNameFor(model => model.NSEP_DEVO)
                                        <!-- Emphasis label -->

                                    </li>
                                    <li>
                                        <span class="handle">
                                            <i class="fa fa-ellipsis-v"></i>
                                            <i class="fa fa-ellipsis-v"></i>
                                        </span>
                                        @*<input type="checkbox" value="">*@
                                        @Html.EditorFor(model => model.NSEP_TRAN)
                                        @Html.ValidationMessageFor(model => model.NSEP_TRAN, "", new { @class = "text-danger" })
                                        @Html.DisplayNameFor(model => model.NSEP_TRAN)
                                    </li>
                                    <li>
                                        <span class="handle">
                                            <i class="fa fa-ellipsis-v"></i>
                                            <i class="fa fa-ellipsis-v"></i>
                                        </span>
                                        @Html.EditorFor(model => model.NSEP_STOCK)
                                        @Html.ValidationMessageFor(model => model.NSEP_STOCK, "", new { @class = "text-danger" })
                                        @Html.DisplayNameFor(model => model.NSEP_STOCK)
                                    </li>

                                </ul>
                            </div>

                        </div>


                        <!-- /.box-header -->


                    </div>
                </div>

                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header">
                            <i class="ion ion-clipboard"></i>

                            <h3 class="box-title">Uso de</h3>
                            <div class="box-body">
                                <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
                                <ul class="todo-list">
                                    <li>
                                        <!-- drag handle -->
                                        <span class="handle">
                                            <i class="fa fa-ellipsis-v"></i>
                                            <i class="fa fa-ellipsis-v"></i>
                                        </span>
                                        <!-- checkbox -->
                                        @*<input type="checkbox" value="">*@
                                        @Html.EditorFor(model => model.ORD_PROD)
                                        @Html.ValidationMessageFor(model => model.ORD_PROD, "", new { @class = "text-danger" })
                                        <!-- todo text -->
                                        @Html.DisplayNameFor(model => model.ORD_PROD)
                                        <!-- Emphasis label -->

                                    </li>
                                    <li>
                                        <span class="handle">
                                            <i class="fa fa-ellipsis-v"></i>
                                            <i class="fa fa-ellipsis-v"></i>
                                        </span>
                                        @*<input type="checkbox" value="">*@
                                        @Html.EditorFor(model => model.UNID_OPER)
                                        @Html.ValidationMessageFor(model => model.UNID_OPER, "", new { @class = "text-danger" })
                                        @Html.DisplayNameFor(model => model.UNID_OPER)
                                    </li>
                                    <li>
                                        <span class="handle">
                                            <i class="fa fa-ellipsis-v"></i>
                                            <i class="fa fa-ellipsis-v"></i>
                                        </span>
                                        @Html.EditorFor(model => model.CONT_BOD)
                                        @Html.ValidationMessageFor(model => model.CONT_BOD, "", new { @class = "text-danger" })
                                        @Html.DisplayNameFor(model => model.CONT_BOD)
                                    </li>

                                </ul>
                            </div>

                        </div>


                        <!-- /.box-header -->


                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header">
                            <i class="ion ion-clipboard"></i>

                            <h3 class="box-title">En Orden de Compra</h3>
                            <div class="box-body">
                                <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
                                <ul class="todo-list">
                                    <li>
                                        <!-- drag handle -->
                                        <span class="handle">
                                            <i class="fa fa-ellipsis-v"></i>
                                            <i class="fa fa-ellipsis-v"></i>
                                        </span>
                                        <!-- checkbox -->
                                        @*<input type="checkbox" value="">*@
                                        @Html.EditorFor(model => model.PERM_QING_M_QORD)
                                        @Html.ValidationMessageFor(model => model.PERM_QING_M_QORD, "", new { @class = "text-danger" })
                                        <!-- todo text -->
                                        @Html.DisplayNameFor(model => model.PERM_QING_M_QORD)
                                        <!-- Emphasis label -->

                                    </li>
                                    <li>
                                        <span class="handle">
                                            <i class="fa fa-ellipsis-v"></i>
                                            <i class="fa fa-ellipsis-v"></i>
                                        </span>
                                        @*<input type="checkbox" value="">*@
                                        @Html.EditorFor(model => model.CAM_P_UNITARIO)
                                        @Html.ValidationMessageFor(model => model.CAM_P_UNITARIO, "", new { @class = "text-danger" })
                                        @Html.DisplayNameFor(model => model.CAM_P_UNITARIO)
                                    </li>
                                </ul>
                            </div>

                        </div>


                        <!-- /.box-header -->


                    </div>
                </div>

                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header">
                            <i class="ion ion-clipboard"></i>

                            <h3 class="box-title">Otros</h3>
                            <div class="box-body">
                                <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
                                <ul class="todo-list">
                                    <li>
                                        <!-- drag handle -->
                                        <span class="handle">
                                            <i class="fa fa-ellipsis-v"></i>
                                            <i class="fa fa-ellipsis-v"></i>
                                        </span>
                                        <!-- checkbox -->
                                        @*<input type="checkbox" value="">*@
                                        @Html.DisplayNameFor(model => model.PORC_IVA)

                                        @*@Html.EditorFor(model => model.PORC_IVA, new { htmlAttributes = new { @class = "form-control input-sm", @Value = ViewBag.IVA } })*@
                                        @Html.EditorFor(model => model.PORC_IVA)
                                        @Html.ValidationMessageFor(model => model.PORC_IVA, "", new { @class = "text-danger" })
                                        <!-- todo text -->
                                        <!-- Emphasis label -->

                                    </li>
                                    <li>
                                        <span class="handle">
                                            <i class="fa fa-ellipsis-v"></i>
                                            <i class="fa fa-ellipsis-v"></i>
                                        </span>
                                        @*<input type="checkbox" value="">*@
                                        @Html.EditorFor(model => model.NOT_TRANSINCONT)
                                        @Html.ValidationMessageFor(model => model.NOT_TRANSINCONT, "", new { @class = "text-danger" })
                                        @Html.DisplayNameFor(model => model.NOT_TRANSINCONT)
                                    </li>
                                </ul>
                            </div>

                        </div>


                        <!-- /.box-header -->


                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header">
                            <i class="ion ion-clipboard"></i>

                            <h3 class="box-title">Números Decimales</h3>
                            <div class="box-body">
                                <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
                                <ul class="todo-list">
                                    <li>
                                        <!-- drag handle -->
                                        <span class="handle">
                                            <i class="fa fa-ellipsis-v"></i>
                                            <i class="fa fa-ellipsis-v"></i>
                                        </span>
                                        <!-- todo text -->
                                        @Html.DisplayNameFor(model => model.UTIL_DEC_CANTI)
                                        <!-- Emphasis label -->
                                        @Html.EditorFor(model => model.UTIL_DEC_CANTI)
                                        @Html.ValidationMessageFor(model => model.UTIL_DEC_CANTI, "", new { @class = "text-danger" })


                                    </li>
                                    <li>
                                        <!-- drag handle -->
                                        <span class="handle">
                                            <i class="fa fa-ellipsis-v"></i>
                                            <i class="fa fa-ellipsis-v"></i>
                                        </span>
                                        <!-- todo text -->
                                        @Html.DisplayNameFor(model => model.UTIL_DEC_CUNI)
                                        <!-- Emphasis label -->
                                        @Html.EditorFor(model => model.UTIL_DEC_CUNI)
                                        @Html.ValidationMessageFor(model => model.UTIL_DEC_CUNI, "", new { @class = "text-danger" })


                                    </li>

                                    <li>
                                        <!-- drag handle -->
                                        <span class="handle">
                                            <i class="fa fa-ellipsis-v"></i>
                                            <i class="fa fa-ellipsis-v"></i>
                                        </span>
                                        <!-- todo text -->
                                        @Html.DisplayNameFor(model => model.UTIL_DEC_CTOT)
                                        <!-- Emphasis label -->
                                        @Html.EditorFor(model => model.UTIL_DEC_CTOT)
                                        @Html.ValidationMessageFor(model => model.UTIL_DEC_CTOT, "", new { @class = "text-danger" })


                                    </li>

                                </ul>
                            </div>

                        </div>


                        <!-- /.box-header -->


                    </div>
                </div>

                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header">
                            <i class="ion ion-clipboard"></i>

                            <h3 class="box-title">Varios</h3>
                            <div class="box-body">
                                <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
                                <ul class="todo-list">
                                    <li>
                                        <!-- drag handle -->
                                        <span class="handle">
                                            <i class="fa fa-ellipsis-v"></i>
                                            <i class="fa fa-ellipsis-v"></i>
                                        </span>
                                        <!-- checkbox -->
                                        @*<input type="checkbox" value="">*@
                                        @*@Html.EditorFor(model => model.PORC_IVA, new { htmlAttributes = new { @class = "form-control input-sm", @Value = ViewBag.IVA } })*@
                                        @Html.EditorFor(model => model.ING_MANUAL_ALERTSTOCK)
                                        @Html.ValidationMessageFor(model => model.ING_MANUAL_ALERTSTOCK, "", new { @class = "text-danger" })
                                        <!-- todo text -->
                                        @Html.DisplayNameFor(model => model.ING_MANUAL_ALERTSTOCK)
                                        <!-- Emphasis label -->

                                    </li>
                                    <li>
                                        <span class="handle">
                                            <i class="fa fa-ellipsis-v"></i>
                                            <i class="fa fa-ellipsis-v"></i>
                                        </span>
                                        @*<input type="checkbox" value="">*@
                                        @Html.EditorFor(model => model.ALERTSTOCK_MINMAX)
                                        @Html.ValidationMessageFor(model => model.ALERTSTOCK_MINMAX, "", new { @class = "text-danger" })
                                        @Html.DisplayNameFor(model => model.ALERTSTOCK_MINMAX)
                                    </li>

                                    <li>
                                        <span class="handle">
                                            <i class="fa fa-ellipsis-v"></i>
                                            <i class="fa fa-ellipsis-v"></i>
                                        </span>
                                        @*<input type="checkbox" value="">*@
                                        @Html.EditorFor(model => model.ORD_X_COD)
                                        @Html.ValidationMessageFor(model => model.ORD_X_COD, "", new { @class = "text-danger" })
                                        @Html.DisplayNameFor(model => model.ORD_X_COD)
                                    </li>

                                    <li>
                                        <span class="handle">
                                            <i class="fa fa-ellipsis-v"></i>
                                            <i class="fa fa-ellipsis-v"></i>
                                        </span>
                                        @*<input type="checkbox" value="">*@
                                        @Html.DisplayNameFor(model => model.CTA_INVERSION)
                                        <label class="radio-inline"><input type="radio" name="optradio" id="opc1" checked>1.5.1 / 1.5.2</label>
                                        <label class="radio-inline"><input type="radio" name="optradio" id="opc2">1.3.4</label>

                                        @Html.ValidationMessageFor(model => model.CTA_INVERSION, "", new { @class = "text-danger" })


                                    </li>

                                </ul>
                            </div>

                        </div>


                        <!-- /.box-header -->


                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-success" />
                </div>
            </div>
        </section>





    </div>
}

<script src="../../content/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<script src="~/Scripts/toastr.min.js"></script>
<script>
    $(document).ready(function () {
         if (@ViewBag.EsNuevo== 0) {
             $("#COMPDIAR").val(0);
             $("#COMPEGRE").val(0);
             $("#COMPINGRE").val(0);
             $("#NUMASIEN").val(0);
             $("#NUM_TRANSAC").val(0);
             $("#NUM_CERTDISP").val(0);
             $("#NUM_COMPROMISO").val(0);
             $("#NUM_TRANSFER").val(0);
             $("#NUM_DEVEN").val(0);
          }
    });

    $(function () {
        var displayMessage = function (message, msgType) {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            toastr[msgType](message);
        };

        @*if (@ViewBag.OK== 1) {
        displayMessage($('#success').val(), 'success');
    }
        else {
        displayMessage($('#error').val(), 'error');
    }*@

        if ($('#success').val()) {
        displayMessage($('#success').val(), 'success');
    }

    if ($('#info').val()) {
        displayMessage($('#info').val(), 'info');
    }
    if ($('#warning').val()) {
        displayMessage($('#warning').val(), 'warning');
    }
    if ($('#error').val()) {
        displayMessage($('#error').val(), 'error');
    }
    });
</script>